@charset "UTF-8";
/*PALETA DE COLORES*/
/*FUENTES*/
/*RESOLUCIONES DE PANTALLAS*/
/*Separaciones (márgenes y paddings)*/
/*ESTILOS COMUNES PARA TODAS LAS SECCIONES*/
body {
font-family: "Montserrat", sans-serif;
background-image: linear-gradient(to top, #ffffff, #f9f5ff, #f6eaff, #f6deff, #f9d2ff, #fac8fb, #fcbef7, #ffb3f1, #ffaae6, #ffa0da, #ff97ce, #ff8ec1);
}
.nav-link,
.nav-link.active,
.navbar-nav .nav-link.active {
color: white;
}
.nav-link:hover,
.nav-link.active:hover,
.navbar-nav .nav-link.active:hover {
color: $color-cuad;
}

.navbar-toggler {
background-color: rgb(255, 255, 255);
}

.carousel-item img {
height: 100px;
}

@media (min-width: 768px) {
.carousel-item img {
    height: 60vh;
}
}
@media (min-width: 992px) {
.carousel-item img {
    height: 80vh;
}
}
h1, h2 {
color: $color-secundario;
text-align: center;
margin-top: 60px;

}

p {
background-color: #e5a1c8;
color: $color-secundario;
font-size: 30px;
text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
}


.container-cards {
display: grid;
height: 20%;
grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
grid-gap: 1rem;
}

.main-contacto {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

@media (min-width: 768px) {
.main-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
}
form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}
form .campos {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.botones-form {
border: solid 1px white;
width: 200px;
padding: 10px;
border-radius: 10px;
background-color: rgb(255, 248, 248);
font-weight: bold;
}
.botones-form:hover {
background-color: #000;
color: rgb(231, 147, 147);
}

iframe {
max-width: 100%;
}

textarea {
height: 150px;
width: 200px;
}

@mixin center-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contenedor-banner {
    @include center-contenedor;

}

@media (min-width: 768px) {
.contenedor-banner {
    flex-direction: row;
    gap: 60px;
}
}
.banner-uno, .banner-dos, .banner-tres {
display: flex;
flex-direction: column;
align-items: center;
}
.banner-uno iconify-icon, .banner-dos iconify-icon, .banner-tres iconify-icon {
font-size: 100px;
}
.logo{
display: flex;
color: white;
align-items: center;
}
.logo img{
height: 50px;
margin-right: 15px;
}
///titulo principal pau
.titulo1 {
    font-family: $fuente-principal;
    font-size: $fuente-grande;
    color: pink;
    font-size: 60px;
}
.titulo {
    font-family: $fuente-principal;
    color: white;
    font-size: 40px;
}

.titulo2 {
    font-size: $fuente-principal;
    color: $color-cuad;
    text-decoration: none;
}

h3 {
    font-size: $fuente-principal;
    color: $color-cuad;


}

.sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.galeria {
    display: flex;
    width: 600px;
    height: 430px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
}
.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}