// .fondo-pauli {
//     background-image: url("/img/pauliportada.JPEG");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
// }

.aboutme-pau {
    font-family: 'Times New Roman', Times, serif;
    color: $color-terciario;
    font-size: 40px;
}

#sobremi {
    display: flex;
    text-align: center;
    justify-content: center;
    

}